<style>
  .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal::before {
    content: '';
    display: inline-block;
    height: 90%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .header1 {
    margin-top: 25px;
  }

  .content1 {
    margin-top: 20px;
  }


  .btn-left {
    margin-top: 20px;
  }

</style>


<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="page-header">
          <i class="fa fa-table"></i>Spider</h3>
      </div>
      <div class="col-lg-6">
        <h3 class="page-header">
          <i class="fa fa-table"></i> Information</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <h5 class="col-lg-10" style="font-weight:bold;font-size:20px">Test Crawl Path</h5>
          <button class="btn btn-primary">Test Path</button>
        </div>

        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Path
          </label>
          <div class="col-lg-10 ">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.path" required />
          </div>
        </div>
        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Go page
          </label>
          <div class="col-lg-8 ">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.gopage" required />
          </div>
          <a style="background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('nextPage')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('nextPage')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="form-group ">
          <label for="ctitle" class="header1 control-label col-lg-2">Image
          </label>
          <div class="col-lg-8">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.image" required />
          </div>
          <a style="margin-bottom:20px;background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('image')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('image')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="form-group ">
          <label style="margin-bottom:20px" for="ctitle" class="header1 control-label col-lg-2">Description
          </label>
          <div class="col-lg-8">
            <input style="margin-bottom:20px" class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.des" required
            />
          </div>
          <a style="margin-bottom:20px;background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('description')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('description')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="form-group">
          <h5 class="col-lg-10" style="font-weight:bold;font-size:20px">Test Crawl Url</h5>
          <button class="btn btn-warning">Test Url</button>
        </div>

        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Url
          </label>
          <div class="col-lg-10">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.url" required />
          </div>

        </div>
        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Title
          </label>
          <div class="col-lg-8">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.title" required />
          </div>
          <a style="background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('title')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('title')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Content
          </label>
          <div class="col-lg-8">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.content" required />
          </div>
          <a style="background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('content')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('content')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Author
          </label>
          <div class="col-lg-8">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.author" required />
          </div>
          <a style="background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('author')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('author')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="form-group">
          <label for="ctitle" class="header1 control-label col-lg-2">Create Date
          </label>
          <div class="col-lg-8">
            <input class="content1 form-control" id="ctitle" name="title" type="text" ng-model="vm.createdate" required />
          </div>
          <a style="background-color: indianred;" class="btn-left col-lg-1 btn btn-warning" ng-click="vm.edit('createDate')">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn-left col-lg-1 btn btn-primary" ng-click="vm.add('createDate')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
      <div class="rol-lg-6" style="border-radius: 5px;border-color:red"></div>
    </div>
    <button ng-click="vm.save()" style="margin-top:40px; padding-left:20px; padding-right:20px; margin-left:42%" class='btn btn-primary'>Save</button>
    <br>
    <label>* You must use selector in Jquery to enter selectors in spider.</label>
  </section>
</section>

<script type="text/ng-template" id="showRemove.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Remove selector</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-striped table-advance table-hover">
          <tbody>
            <tr>
              <th>
                <i class="fa fa-list-ol"></i> STT
              </th>
              <th>
                <i class="fa fa-key"></i> Selector
              </th>
              <th style="width:20%">
                <i class="fa fa-cogs"></i> Action
              </th>
            </tr>
            <tr ng-repeat="cate in vm.listKeys">
              <td>{{$index + 1}}</td>
              <td>
                <div>
                  <input class="form-control" ng-model="cate" value="{{cate}}" />
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-success" ng-click="vm.editCate($index, cate)">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a class="btn btn-danger" ng-click="vm.conform(cate)">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <label style="float: left;
    color: red;
    font-size: 15px;
    margin-top: 5px;" ng-show="vm.isDup">Duplicate Selector</label>
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">Ok</button>
  </div>
</script>
